#dependencies
node_modules/

#env variables
.env
.env.local
.env.*.local

#build output
dist/
build/

#logs
*.log
npm-debug.log*

#editor/os fajlovi
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

#vite
frontend/dist/